.container--deals {
    color: #ffffff;
    text-align: center;
    justify-content: center;
}

.container--shelfTitle {
    color: #727273;
    justify-content: center;
    text-align: center;
}

.headingLevel2--shelfTitle {
    font-weight: 200;
}

.container--deals .paragraph {
    margin: 0;
}

.container--link {
    justify-content: center;
}

.container--question {
    justify-content: center;
}

.container--question .paragraph {
    text-align: center;
    max-width: 540px;
    margin: 0 16px;
    padding-top: 120px;
    color: #03034E;
}

.container--question .strong {
    font-size: 32px;
    line-height: 2rem;
    font-weight: 700;
}

.container--link .paragraph {
    text-align: center;
    max-width: 540px;
    padding-top: 36px;
    padding-bottom: 84px;
    color: #03034E;
}

.container--link .strong {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.container--link .link {
    text-decoration: none;
    font-size: 36px;
    font-weight: 300;
    color: #03034E;
}

.container--title {
    color: #03034E;
    font-size: 28px;
    font-weight: 700;
}

.wrapper--shelfTitle {
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
}

.wrapper--shelfTitle::before {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    background-color: red;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.heading--shelfTitle {
    font-size: 1.2em;
    color: #1f1f1f;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 1rem;
    background: #fff;
    position: relative;
}

@media only screen and (min-width: 640px) {
    .container--question .strong {
        font-size: 40px;
        line-height: 3rem;
    }
    .container--about {
        max-width: 85%;
    }
    .container--title {
        color: #03034E;
        font-size: 40px;
        font-weight: 700;
        max-width: 100%;
    }
    .container--title .paragraph {
        line-height: 1.3em;
    }
}

.container--signup-text {
    padding: 1rem;
    height: 80px;
}

.headingLevel3--footerMainTitle {
    margin: 0 0 2rem 0;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}


/* Top Bar */

.paragraph--topbar-text {
    color: #fff;
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container--topbar-text {
    display: flex;
    align-items: center;
}

.link--topbar-text {
    color: #fff;
    text-decoration: none;
}


/*Newsletter*/

.container--newsletter-title,
.container--newsletter-subtitle {
    justify-content: center;
    color: #fff;
}

.headingLevel2--newsletter-title {
    font-size: 1.2em;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 1rem;
    position: relative;
    margin-bottom: .5rem;
}

.paragraph--newsletter-subtitle {
    margin-top: 0;
}

.paragraph--newsletter-subtitle {
    font-family: 'Lato';
    font-size: 15px;
}


/*Footer*/

.paragraph--lastFooter-derecho {
    color: #fff;
    font-size: 13px;
}

.container--lastFooter-derecho {
    justify-content: flex-end;
}


/*Contacto*/

.headingLevel2--title-contacto {
    font-size: 1.8em;
    color: #1f1f1f;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 1rem;
    letter-spacing: 1px;
    background: #fff;
    position: relative;
}

.wrapper--title-contacto {
    position: relative;
    width: 100%;
    margin-top: 3rem;
    text-align: center;
}

.wrapper--title-contacto::before {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    background-color: #1f1f1f;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.headingLevel3--subtitle-contacto {
    font-weight: 300;
    margin: 0 0 3rem 0;
    font-size: 24px;
}

.headingLevel4--rich-title-cal-contacto {
    margin: 0;
    margin-bottom: 1.5rem;
    color: #b0b0b0;
    font-size: 19px;
}

.container--tambien-estamos {
    display: flex;
    justify-content: center;
}

.paragraph--tambien-estamos {
    font-family: 'Lato';
    color: #333333;
    font-size: 13px;
    margin-bottom: 1rem;
    font-weight: 600;
}

.headingLevel3--formTitle-second {
    margin: 0;
    font-weight: 100;
}

.headingLevel3--info-producto-form {
    text-align: center;
    margin: 3.5rem 0 2rem 0;
    padding-bottom: .7rem;
    font-weight: 300;
    border-bottom: 1px solid #1f1f1f;
    font-size: 26px;
    letter-spacing: 1px;
}

.paragraph--txt-mayorista {
    font-family: 'lato';
    font-weight: 600;
    font-size: 13px;
    margin: 0 0 2rem 0;
    letter-spacing: 1px;
}

.wrapper--info-producto-form {
    width: 100%
}


/*Info Bar*/

.listItem--infoBarCol-text,
.paragraph--infoBarCol-text {
    color: #fff;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.wrapper--infoBarCol-text,
.list--infoBarCol-text {
    width: 100%;
    justify-content: center;
    align-items: center
}

.list--infoBarCol-text {
    display: flex;
    padding: 0;
    margin: 0;
}

.listItem--infoBarCol-text::marker {
    display: none;
    font-size: 0;
}

.container--infoBarCol-text {
    justify-content: center;
    align-items: center;
}


/*Terminos y condiciones*/

.wrapper--title-tyc {
    width: 100%;
    margin: 3rem 0 0 0;
}

.headingLevel2--title-tyc {
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 27px;
}

.headingLevel3--subtitle-tyc {
    font-family: 'lato';
    font-size: 14px;
    font-weight: 900;
    color: #000;
    margin-top: 3rem;
}

.listItem--txt-tyc,
.paragraph--txt-tyc {
    font-family: 'lato';
    font-size: 14px;
    color: #000;
}


/*Politicas de privacidad*/

.wrapper--privacidad-t {
    width: 100%;
    margin: 3rem 0 2rem 0;
}

.headingLevel2--privacidad-t {
    font-weight: 300;
    text-align: center;
    font-size: 26px;
}

.paragraph--privacidad-p {
    font-size: 14px;
    font-family: 'lato';
    color: #000;
    margin: 1rem 0;
}


/*Versión Mobile*/

@media (max-width: 1025px) {
    .paragraph--infoBarCol-text {
        text-align: center;
        font-size: 11px;
    }
    .listItem--infoBarCol-text {
        color: #fff;
        font-size: 11px;
        margin: 0;
        padding: 0;
    }
    .paragraph--newsletter-subtitle {
        text-align: center;
    }
    .container--lastFooter-derecho {
        justify-content: center;
    }
    .paragraph--lastFooter-derecho {
        margin: 0;
    }
}