.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  max-width: 208px;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-image: url(assets/img/bn-newsletter.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

.logoContainer {
  padding: 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.infoCardCallActionContainer--info-card-ventas {
  margin: 0;
  padding: 6rem 0;
}

.infoCardTextContainer--info-card-ventas :global(.vtex-button) {
  background-color: rgb(0 0 0 / 60%);
  border: 0;
  border-radius: 0;
  padding: 1.5rem 1rem;
}

.infoCardTextContainer--info-card-ventas :global(.vtex-button__label) {
  font-weight: 800;
}

.form {
  max-width: 100%;
}

.infoCardHeadline--info-card-cotiza {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  position: relative;
  padding: 0 3rem;
  margin-bottom: 1.5rem;
}

.infoCardHeadline--info-card-cotiza::after {
  content: 'Cotiza con nosotros de una manera fácil y rápida';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  color: #fff;
  text-transform: initial;
  top: 110%;
  width: 100%;
  font-weight: 500;
}

.infoCardTextContainer--info-card-cotiza {
  padding: 4rem 0;
}

.infoCardCallActionContainer--info-card-cotiza :global(.vtex-button) {
  border-radius: 0;
}

.infoCardCallActionContainer--info-card-cotiza :global(.vtex-button__label) {
  padding: .7rem 3rem;
  font-weight: 700;
  font-size: 13px;
}

.newsletter .form .label {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  position: relative;
  padding: 0 3rem;
  margin-bottom: 1.5rem;
  display: block;
}

.newsletter .form .label::after {
  content: 'Cotiza con nosotros de una manera fácil y rápida';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  color: #fff;
  text-transform: initial;
  top: 110%;
  width: 100%;
  font-weight: 500;
}

.newsletter .form .inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
  width: 40vw;
  margin: 0 auto;
  border-radius: 0;
}

.newsletter .form .inputGroup :global(.vtex-button) {
  background-color: #1f1f1f;
  border-radius: 0;
}

.newsletter .form .inputGroup :global(.vtex-button__label) {
  padding: 0 3rem;
  text-transform: initial;
  font-size: 13px;
  color: #fff;
  font-weight: 700;
}

@media screen and (min-width: 80em) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 102rem;
  }
}