.styledLinkContainer {
    margin-left: .7rem;
    margin-right: .7rem;
}

.menuContainer--footerMainMenu {
    display: flex;
    flex-direction: column;
}

.styledLinkContent--menuFooterMainItem {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.styledLinkContainer--menuFooterMainItem {
    padding: 0 0 1.2rem 0;
}

.submenuContainer--wrapperSubMenuTienda,
.submenuWrapper--wrapperSubMenuTienda--isOpen {
    background: #1e1e1e;
}

.styledLinkContent {
    font-weight: 600;
    letter-spacing: 2px;
}


/*Calugas contacto*/

.menuContainer--list-cal-contacto {
    flex-direction: column;
}

.styledLinkContainer--menuitem-cal-contacto {
    padding: .4rem 0;
}

.styledLinkContent--menuitem-cal-contacto {
    font-family: 'Lato';
    font-size: 13px;
    letter-spacing: inherit;
    color: #afafaf;
}


/* Menu Nvegacion */

.submenuWrapper--subSubMenu--isOpen {
    left: 100% !important;
    background-color: #E1251B;
}

.submenu--subSubMenu {
    flex-direction: column;
}


/*Versión Mobile*/

@media (max-width: 1025px) {
    .styledLinkContainer--menuFooterMainItem {
        padding: 0 0 .7rem 0;
    }
    .styledLinkContent--menuFooterMainItem {
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 2px;
    }
}